.todo-head
  .todo-head__top
    .todo-head__top__little
      WEDDING ❤︎ TO DO LIST
    .todo-head__top__user
      .todo-head__top__user__user-name
        ぽてぽてさん
      .todo-head__top__user__btn
        ログアウト
  .todo-head__image
    .todo-head__image__icon
      = icon('fas', 'church', class: "contents__btn--chuchicon")
      = icon('fas', 'glass-cheers', class: "contents__btn--grassicon")
    .todo-head__image__top-icons
      = icon('far', 'envelope', class: "contents__btn--envelopeicon")
      = icon('fas', 'birthday-cake', class: "contents__btn--cakeicon")
      = icon('fas', 'gift', class: "contents__btn--gifticon")
    .todo-head__image__arrow
    .todo-head__image__buttom-icons
      = icon('fas', 'heart', class: "contents__btn--hearticon")
      = icon('fas', 'utensils', class: "contents__btn--utensilsicon") 
  .todo-head__image__big-day
    THE BIG DAY
