.todo-main
  .todo-main__form
    .todo-main__form__tag-boxs
      .todo-main__form__tag-boxs__dressbox
        Dress -ドレス-
      .todo-main__form__tag-boxs__paperbox
        Paperitem -ペーパーアイテム-
      .todo-main__form__tag-boxs__foodbox
        Cuisine -料理-
      .todo-main__form__tag-boxs__codebox
        Coordination -コーディネート-
      .todo-main__form__tag-boxs__giftbox
        Gift -ギフト-

    .todo-main__from__sort
      = form_for [@task] do |f|
        = f.date_field :date
        = f.select :tag,['選択してね！','ドレス','ペーパーアイテム','料理','コーディネート','ギフト'],{}
        = f.text_field:text, placeholder: "ここにTO DO内容を入力してね！", size:"70"
        = f.submit 'TODOを追加', class:'submit-btn'

  .todo-main__contents
    ー To Do List ー
    .todo-main__content
      .todo-main__contents__date-box
        2020年2月20 までに
      .todo-main__contents__tag-box
        ペーパーアイテム
      .todo-main__contents__content-box
        招待状発送する
      -# .todo-main__contents__done-btn
      %input.done-btn{:type =>'button',:value => '完了'}
      .todo-main__contents__edit-btn
      %input.edit-btn{:type =>'button',:value => '編集'}